In [4]:
import numpy as np
import bokeh 
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

sns.set(style="ticks", color_codes = True)
%matplotlib inline

In [5]:
file_encoding = 'utf-8'
injuries_file = 'data/severeinjury.csv'
pd.set_option('display.max_columns',None)

In [6]:
injury_data = pd.read_csv(injuries_file, encoding = 'cp850', dtype = 'unicode')

In [ ]:
injury_data.head()

In [7]:
monthly_injuries = injury_data[['EventDate','Zip','Latitude','Longitude','Part of Body']]
monthly_injuries.head()

  EventDate    Zip Latitude Longitude Part of Body
0  1/1/2015  10963    41.46    -74.53          513
1  1/1/2015  53940    43.59    -89.79          519
2  1/1/2015  15108    40.49    -80.11         9999
3  1/1/2015  31206    32.77    -83.65          510
4  1/1/2015  53545    42.67    -89.04         4429

In [ ]:
print(monthly_injuries.count())
print('\nThere are '+ str(monthly_injuries['EventDate'].count())+ ' Events in the dataset')
print('There are '+ str(monthly_injuries['Zip'].nunique()) + ' Zip Codes in the dataset')

In [8]:
monthly_injuries['EventDate'] = monthly_injuries['EventDate'].astype('datetime64')

C:\Users\gskotzko\.conda\envs\gtown\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
monthly_injuries.head()

In [ ]:
monthly_injuries['Month'] = pd.DatetimeIndex(monthly_injuries['EventDate']).month

In [ ]:
monthly_injuries.head()

In [ ]:
#Just trying to see what's in here. Frequency, etc of injuries by month....over 3 years.
g=sns.pairplot(monthly_injuries, height = 5, hue = 'Month',vars = ['Part of Body','Month'])

In [9]:
#This could be done much more pythonicly with a for loop "for year in years..."
import datetime as dt
injuries_2015=monthly_injuries[monthly_injuries['EventDate'].dt.year==2015]
injuries_2016=monthly_injuries[monthly_injuries['EventDate'].dt.year==2016]
injuries_2017=monthly_injuries[monthly_injuries['EventDate'].dt.year ==2017]
injuries_2018=monthly_injuries[monthly_injuries['EventDate'].dt.year==2018]

In [10]:
injuries_2016.nunique()

EventDate        366
Zip             5448
Latitude        1909
Longitude       2939
Part of Body     103
dtype: int64

In [11]:
injuries_2016.head()

      EventDate    Zip Latitude Longitude Part of Body
9856 2016-01-01  81620    39.63   -106.52          511
9857 2016-01-01  81501    39.08   -108.58         4422
9858 2016-01-01  71854    33.42    -94.00         4422
9859 2016-01-01  67003    37.15    -98.03          510
9860 2016-01-01  75236    32.67    -96.96         1363

In [ ]:
g=sns.pairplot(injuries_2016, height=5, hue='Month', vars=['Part of Body','Month'])

In [ ]:
g=sns.catplot(x='Month', y='Part of Body', data=injuries_2016)

Experiment with groupby and sort methods to get data more cleanly sorted and graphed. Then do some statistical counting on injury groups by zipcode.
Read up on pyflakes and pep8 unit testing.

In [ ]:
injuries_2016_byzip = injuries_2016.groupby(['Month','Zip','Part of Body'])

In [ ]:
injuries_2016_byzip.head()

In [ ]:
categorical_attributes = injuries_2016.select_dtypes(include="object")
plt.figure(figsize=(50,10))
sns.countplot(data = categorical_attributes, x = "Part of Body")
sns.catplot(x='Month',y="Part of Body",data=injuries_2016)

In [ ]:
inj2016_count= injuries_2016.groupby(['Month','Zip'])['Zip'].agg('count').to_frame('Counts').reset_index() 
#THINGS LEARNED: Can't have the column you want to count including in the groupby.
inj2016_ll = injuries_2016.groupby(['Month','Zip'])['Part of Body'].agg('count').to_frame('Counts').reset_index()

In [ ]:
inj2016_count.tail(30)
inj2016_count.to_csv('data/2016_injurycounts.csv', encoding ='utf-8')

In [ ]:
inj2016_ll.tail(30)

In [ ]:
inj2016_count_2.tail(30)

In [ ]:
sns.catplot(x='Month', y="Counts", data = inj2016_count)

In [ ]:
inj2016_count_3 = injuries_2016.groupby(['Month','Zip','Part of Body']).size().reset_index()

In [ ]:
inj2016_count_3.head()

In [ ]:
ids = inj2016_count['Zip']
inj2016_count[ids.isin(ids[ids.duplicated()])].sort_index(axis = 1)

In [ ]:
zipinj_2016 = injuries_2016.groupby(['Zip'])['Zip'].agg('count').to_frame('Counts').reset_index()

In [ ]:
zipinj_2016.head()

In [ ]:
inj2016_count.describe()

In [ ]:
zipinj_2016.to_csv('./data/2016InjuriesByZip.csv')

In [ ]:
injury_data.head()

In [ ]:
df = injury_data
df['EventDate'] = df['EventDate'].astype('datetime64')
Florida = df.loc[(df['EventDate'].dt.year==2016) & (df['Zip'] == '32830')]

In [ ]:
print(Florida)

In [ ]:
Florida.to_csv('./data/Florida2016.csv')

In [ ]:
zipinj_2016.loc[(zipinj_2016['Zip']=='32830')]

In [ ]:
import numpy.linalg as la
vec = np.array(zipinj_2016['Counts'])
l1 = la.norm(vec,1)
print(l1)
l2 = la.norm(vec,2)
print(l2)
lin = la.norm(vec, np.inf)
print(lin)

In [ ]:
import geopandas as gpd

In [8]:
import pandas as pd
labels = ('bottom','left','top','right')
data=[{'bottom':24.396308,'left':-124.848974,'top':49.384358,'right':-66.885444},{'bottom':51.214183,'left':-179.148909,'top':71.365162,'right':179.77847},
      {'bottom':18.910361,'left': -178.334698 ,'top': 28.402123,'right': -154.806773}]
coords = pd.DataFrame(data,index =['low48','AK','HI'])
AKbounding = [51.214183,-179.148909,71.365162,179.77847]
HIbounding = [18.910361, -178.334698 , 28.402123, -154.806773]

In [9]:
coords.head()

          bottom        left       right        top
low48  24.396308 -124.848974  -66.885444  49.384358
AK     51.214183 -179.148909  179.778470  71.365162
HI     18.910361 -178.334698 -154.806773  28.402123

In [12]:
df=injuries_2016

In [19]:
bot_US = 24.396308
left_US = -124.848974
top_US = 49.384358
right_US = -66.885444

df.Latitude = df.Latitude.astype('float')
df.Longitude= df.Longitude.astype('float')

bot_HI = 18.910361
left_HI = -178.334698
top_HI = 28.402123
right_HI= -154.806773

bot_AK = 51.214183
left_AK = -179.148909
top_AK = 71.365162
right_AK = 179.77847

box1_cond = (bot_US <= df.Latitude) & (df.Latitude <= top_US) & (left_US <= df.Longitude) & (df.Longitude <= right_US)
lower48 = df[box1_cond]

In [11]:
lower48.head()

      EventDate    Zip  Latitude  Longitude Part of Body
9856 2016-01-01  81620     39.63    -106.52          511
9857 2016-01-01  81501     39.08    -108.58         4422
9858 2016-01-01  71854     33.42     -94.00         4422
9859 2016-01-01  67003     37.15     -98.03          510
9860 2016-01-01  75236     32.67     -96.96         1363

In [15]:
df.Latitude = df.Latitude.astype("float")
df.Longitude =df.Longitude.astype("float")

In [14]:
def isitin(maybe):
    for row in maybe:
        if (bot_US <= maybe.Latitude) & (maybe.Latitude <= top_US) & (left_US <= maybe.Longitude) & (maybe.Longitude <= right_US):
            return 1
        elif (bot_HI <= maybe.Latitude) & (maybe.Latitude <= top_HI) & (left_HI <= maybe.Longitude) & (maybe.Longitude <= right_HI):
            return 1
        elif (bot_AK <= maybe.Latitude) & (maybe.Latitude <= top_AK) & (left_AK <= maybe.Longitude) & (maybe.Longitude <= right_AK):
            return 1
        else:
            return 0

In [20]:
df['InsideUS'] = df.apply(isitin, axis=1)

C:\Users\gskotzko\.conda\envs\gtown\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
df['InsideUS'].describe()

count    10092.000000
mean         0.999207
std          0.028145
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: InsideUS, dtype: float64

In [27]:
df.tail()

       EventDate    Zip  Latitude  Longitude Part of Body  InsideUS
19943 2016-12-30  43570     41.59     -84.42          899         1
19944 2016-12-30  64030     38.87     -94.54          899         1
19945 2016-12-31  70710     30.37     -91.25          440         1
19946 2016-12-31  75048     32.95     -96.59         4429         1
19947 2016-12-31  66215     38.96     -94.72         4429         1

In [31]:
international = df['InsideUS']==0
injuries_intl = df[international]
print(injuries_intl.shape)

(8, 6)